.bottom-header{
    display: flex;
    position: fixed;
  
    padding: 10px;
    max-height: 60px;
    background-color: #f8f5f5;
    width: 100%;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 9999;
}
.bottom-header div {
    display: flex;
    border-radius: 8px;
    padding: 6px;
    background-color: #e9e9e9;
}
.bottom-header div svg g path{
    stroke: #414141;
   
}
.bottom-header div.active {
    display: flex;
    border-radius: 8px;
    padding: 6px;
    background-color: #15a90d;
}
.bottom-catalog svg{
    width: 23px;
    width: clamp(18px, 6vw, 26px);
    height: auto;
    stroke: #414141;
}
.bottom-catalog svg path{
    stroke: none;
    color:#414141 ;
    fill: #414141;
}
.bottom-chat svg{
    width: 26px;
    width: clamp(18px, 6vw, 26px);
    height: auto;
}
.bottom-chat svg g path{
}
.bottom-user svg{

    color: rgb(66, 66, 66);
    width: 26px;
    width: clamp(18px, 6vw, 26px);
    height: auto;
}
.bottom-user svg g path{
    stroke-width: 1.4;
  
}
.bottom-basket{
    /* position: relative;
    bottom: 14px;
    border-radius: 50px!important; */

}
.bottom-basket svg{
    /* width: 43px; */
    width: 26px;
    width: clamp(22px, 6vw, 28px);
    height: auto;
}
.bottom-home{

}
.bottom-home svg{
    width: clamp(18px, 6vw, 26px);
    height: auto;
}